openapi: 3.1.0
info:
  title: oToK REST API
  version: "1.2.0"
  summary: Public REST API for the oToK multichannel marketing communication platform.
  description: |
    The oToK REST API (`/v1`) gives programmatic access to your workspace: contacts, tags and
    groups, WhatsApp campaigns and templates, deals and pipelines, payments, orders,
    transactional email, outbound webhooks, and bookings.

    ## Authentication

    Send a workspace API key as a bearer token on every request:

    ```
    Authorization: Bearer otok_live_...
    ```

    Keys are created in **Settings → Developers** in the oToK app and are shown exactly once.
    A revoked key is indistinguishable from an unknown key — both return `401 "Invalid API key"`.
    The REST API requires a plan with API access (**Growth or higher**); other plans receive `403`.

    Endpoint groups that mirror a plan-gated product area additionally require that feature on
    the workspace's plan — deals/pipelines (`deals`), payments (`payments`), orders
    (`orders`), campaigns (`campaigns`), bookings/meeting-types (`booking`). Every route in a
    gated group answers
    `403` with `error_code: "FEATURE_NOT_INCLUDED_IN_PLAN"` (a body **without** a `statusCode`
    field) when the plan lacks the feature. Contacts, notes, tags, contact groups, templates,
    emails, and webhook endpoints require only plan-wide API access.

    ## Error shapes

    The API uses **two error body shapes**:

    1. **Domain errors** (email and webhook-endpoint APIs, and `POST /v1/campaigns/{id}/execute`
       failures) use a structured envelope: `{"error": {"code", "message"}}` — key on `error.code`.
    2. **Framework errors** (validation, auth, rate limiting, most resource errors) use
       `{"statusCode", "message", "error"}`, where `message` is a string or an array of
       per-field validation messages. Some 4xx responses extend this shape with a
       machine-readable `error_code` field (deals, payments, orders, bookings, contacts).

    Request bodies are strictly validated: unknown body properties are rejected with 400.
    Path `:id` parameters must be UUIDs; a non-UUID id returns 400 (except
    `DELETE /v1/webhook-endpoints/{id}`, which returns 404).

    ## Deletion

    The API never deletes customer data — contacts, deals, payments, orders, campaigns,
    tags, and contact groups have no DELETE routes. The only DELETE endpoints are for resources the API
    owns: `DELETE /v1/notes/{id}` and `DELETE /v1/webhook-endpoints/{id}`.

    ## Rate limits

    | Scope | Limit |
    |---|---|
    | Per API key (default, all endpoints) | 100 requests / minute |
    | `POST /v1/emails` | 300 requests / minute per key |
    | Per source IP, across all API-key traffic | 300 requests / minute |

    Exceeding a limit returns HTTP 429 with a `Retry-After` header. The per-key bucket is
    shared across all source IPs using that key.

    ## Pagination

    Most list endpoints return `{ "data", "total", "limit", "offset" }` with `limit`
    default 50 (hard cap 500). `GET /v1/deals`, `GET /v1/payments`, and `GET /v1/orders`
    use dedicated query parameters with `limit` default 25 (cap 100); absent or empty
    `limit`/`offset` values default. On deals and payments, malformed values return `400`
    (`"Invalid limit: must be a non-negative integer"`); on orders, paging **never**
    returns 400 — malformed or zero values silently default and out-of-range values are
    clamped. Unrecognized enum filter values on these routes are still silently ignored.

    ## Idempotency

    - Contacts upsert by `phone`/`email`.
    - Deals, payments, and orders upsert by `external_reference`.
    - Order refunds are idempotent per `external_refund_id` — only when you supply one.
    - Emails require an explicit `idempotency_key`.
    - Booking creation is idempotent per slot + meeting type + contact (server-derived, no key).

    Idempotent create responses carry a top-level boolean `duplicate` field — `false` on a
    fresh create, `true` when the call matched an existing record — with one exception:
    `POST /v1/orders` returns the same full order body for both outcomes and **no
    `duplicate` marker** (compare `created_at`, or pre-check with
    `GET /v1/orders?external_reference=...`); the order **refund** endpoint does return
    `{ "duplicate", "order" }`. Status codes are 201 for both outcomes everywhere except
    `POST /v1/emails`, which answers 201 fresh / 200 replay.

    ## Changes in 1.2.0

    - New **Orders** resource group (`/v1/orders*`) and the five `order.*` webhook
      event types.
    - **Schema correction** for existing consumers: deal and payment response money —
      `Deal.amount`, `Payment.total_amount`, and payment entry `amount`/`recognized_amount` —
      is now typed as a JSON **number**. Spec versions up to 1.1.0 incorrectly documented
      these response fields as decimal strings (e.g. `"3600.00"`); the API has always
      returned JSON numbers (e.g. `3600`), so nothing changed on the wire — but clients
      generated from the earlier schema will see these declared types change from
      `string` to `number` on regeneration.
  contact:
    name: oToK
    url: https://app.otok.io
  license:
    name: MIT
    url: https://github.com/slikkdev/otok-api/blob/main/LICENSE
externalDocs:
  description: Prose guides (getting started, per-resource pages)
  url: https://slikkdev.github.io/otok-api/
servers:
  - url: https://app.otok.io/api
security:
  - bearerAuth: []
tags:
  - name: Contacts
    description: Contact upsert & update, plus the merge-conflict contract. There is no DELETE endpoint for contacts.
  - name: Contact notes
    description: Plain-text notes on a contact. API note payloads are text only.
  - name: Tags
    description: Tag CRUD (no delete). Names are unique per workspace (case-insensitive).
  - name: Contact groups
    description: Contact group CRUD (no delete). Names are unique per workspace (case-insensitive).
  - name: Campaigns
    description: WhatsApp campaigns — create, schedule, execute.
  - name: Templates
    description: WhatsApp message templates — read and send only; template management is in-app.
  - name: Pipelines
    description: Read pipelines and their stages.
  - name: Deals
    description: Deal CRUD-minus-delete, stage moves, win/lose, idempotent upsert via `external_reference`.
  - name: Payments
    description: One-time / recurring / installment payments, entries, refunds.
  - name: Orders
    description: E-commerce-grade orders on contacts — idempotent create via `external_reference`, refund ledger, mark-paid, cancel. No update or delete routes.
  - name: Emails
    description: "`POST /v1/emails` — idempotent raw transactional sends with opt-in tracking."
  - name: Webhook endpoints
    description: Register receivers for outbound events — email delivery/engagement events on API-originated sends, and `order.*` lifecycle events from every order source.
  - name: Meeting types
    description: Read meeting types and query open slots.
  - name: Bookings
    description: Booking lifecycle — create, cancel, reschedule, reassign host.

paths:
  # ───────────────────────────── Contacts ─────────────────────────────
  /v1/contacts:
    get:
      operationId: listContacts
      tags: [Contacts]
      summary: List contacts
      description: |
        Standard list conventions apply. `search` matches `name`, `first_name`, `last_name`,
        `email`, `phone`, `company_name` (case-insensitive substring), plus an exact match on
        the E.164-normalized form of the term and the contact's historical phone/email
        identifiers.

        Contacts support extra filter operators: `$jsonb_contains` for `tags`/`groups` (by
        UUID), `$event_attendance` (`{"event_id": "...", "status": "attended"}`), and the
        virtual consent fields `whatsapp_subscribed`, `email_subscribed` (boolean),
        `whatsapp_deliverability`, `email_deliverability`.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated contact list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Contact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: upsertContact
      tags: [Contacts]
      summary: Upsert a contact by phone/email
      description: |
        Creates a contact, or updates the existing contact that the given `phone`/`email`
        resolves to. Resolution is history-aware and **phone wins** over email. On a match,
        scalar fields overwrite, `custom_fields` shallow-merge, and `tags`/`groups` are
        **added** to the existing set (never removed by this route).

        The response is **201 in both cases** (create and update) and carries a top-level
        boolean `duplicate` field — `false` when this request created the contact, `true`
        when it matched and updated an existing one.

        If the phone resolves to one existing contact and the email to a *different* one, the
        API does not write: it opens a merge request and returns
        **409 `CONTACT_MERGE_REQUIRED`**. The non-identity fields of the request are parked
        with the merge request and applied when it is resolved.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactWrite"
      responses:
        "201":
          description: |
            The full contact object — returned for both create (`duplicate: false`) and
            update (`duplicate: true`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactUpsertResult"
        "400":
          description: |
            Validation failure, unknown fields, a blacklisted phone
            (`error_code: "PHONE_BLACKLISTED"`), or the workspace contact limit
            (only when a cap is set on the workspace).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/ContactMergeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/contacts/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getContact
      tags: [Contacts]
      summary: Get one contact
      responses:
        "200":
          description: A single contact object (same enrichment as list rows).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateContact
      tags: [Contacts]
      summary: Update a contact by id
      description: |
        Same field set and validation as the POST upsert (all optional), with different
        semantics:

        - `tags`/`groups` **replace** the full set (empty array clears; names auto-create).
        - `custom_fields` still shallow-merge — set a key to `null` to remove it.
        - `name` and `first_name`/`last_name` stay in sync.
        - `block_state` changes route through the consent/blocking subsystem; global blocks
          cannot be lifted via the API.

        Setting `phone`/`email` to an identifier that belongs to a *different* contact does
        not apply the write: like the POST upsert's conflict path, a merge request is opened
        and the response is **409 `CONTACT_MERGE_REQUIRED`**. Non-identity fields sent in the
        same PATCH are held on the merge request and applied when it is resolved. The
        conflict check is **history-aware**: an identifier no contact currently holds but
        that another contact previously held also parks a merge request and returns the 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactWrite"
      responses:
        "200":
          description: The updated contact object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "400":
          description: |
            Validation / unknown fields / non-UUID id, or `error_code: "PHONE_BLACKLISTED"`
            (only when the patch changes the phone to a blacklisted number).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: |
            `error_code: "CONTACT_MERGE_REQUIRED"` — the new phone/email belongs (or, via
            the history-aware check, previously belonged) to another contact. The write is
            not applied; a merge request is opened and the held fields apply when it is
            resolved (merge or dismiss). The response includes `merge_request_id`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"
              example:
                statusCode: 409
                error: Conflict
                error_code: CONTACT_MERGE_REQUIRED
                merge_request_id: 3a2b1c0d-4e5f-6a7b-8c9d-0e1f2a3b4c5d
                message: "This change would give the contact a phone or email that already belongs to another contact. A merge request was opened — resolve it (merge or dismiss) to apply the change."
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/contacts/{id}/notes:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: listContactNotes
      tags: [Contact notes]
      summary: List a contact's notes
      description: |
        Returns a JSON **array** of all the contact's notes — not paginated, no query
        parameters. Pinned notes come first (most recently pinned on top), then the rest
        newest-first. `author_name` is included on list responses only.
      responses:
        "200":
          description: All notes for the contact.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Note"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createContactNote
      tags: [Contact notes]
      summary: Add a note
      description: |
        API note payloads are text only (rich text and mentions are in-app features; sending
        them returns 400). Notes created via the API have no author user and are attributed
        to source `api`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [body]
              properties:
                body:
                  type: string
                  maxLength: 5000
                  description: Trimmed — empty after trim → 400 "Note body cannot be empty".
                pinned:
                  type: boolean
                  description: "`true` pins the note immediately."
      responses:
        "201":
          description: The created note.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/notes/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    patch:
      operationId: updateNote
      tags: [Contact notes]
      summary: Edit / pin a note
      description: |
        Both fields optional; sending neither returns the current note unchanged. A body
        change bumps `updated_at`; a pin toggle alone does not. If the note is the contact's
        profile note, a body edit also updates the contact's `notes` field (and fires
        field-change automations).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                body:
                  type: string
                  maxLength: 5000
                  description: Empty → 400.
                pinned:
                  type: boolean
                  description: Pin/unpin.
      responses:
        "200":
          description: The note after the update.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteNote
      tags: [Contact notes]
      summary: Delete a note
      description: |
        Deleting the contact's profile note also clears the contact's `notes` field. A
        deletion breadcrumb is kept in the contact's activity timeline.
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Tags ─────────────────────────────
  /v1/tags:
    get:
      operationId: listTags
      tags: [Tags]
      summary: List tags
      description: Standard list conventions; `search` matches the `name` field.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated tag list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createTag
      tags: [Tags]
      summary: Create a tag
      description: |
        Tag names are unique per workspace (case-insensitive). A name that already exists
        returns **409 Conflict** — look up the existing record (list with `search=<name>`)
        and reuse it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TagWrite"
      responses:
        "201":
          description: The created tag with `usage_count` 0.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: '`"A tag with this name already exists"` — names are unique per workspace (case-insensitive).'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
              example:
                statusCode: 409
                message: A tag with this name already exists
                error: Conflict
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/tags/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getTag
      tags: [Tags]
      summary: Get one tag
      responses:
        "200":
          description: A tag object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateTag
      tags: [Tags]
      summary: Update a tag
      description: Same fields as create, all optional.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TagWrite"
      responses:
        "200":
          description: The updated tag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: '`"A tag with this name already exists"` — renaming to another tag''s name.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Contact groups ─────────────────────────────
  /v1/contact-groups:
    get:
      operationId: listContactGroups
      tags: [Contact groups]
      summary: List groups
      description: Standard list conventions; `search` matches the `name` field.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated group list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ContactGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createContactGroup
      tags: [Contact groups]
      summary: Create a group
      description: |
        Group names are unique per workspace (case-insensitive). A name that already exists
        returns **409 Conflict**.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactGroupWrite"
      responses:
        "201":
          description: The created group with `contact_count` 0.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: '`"A contact group with this name already exists"` — names are unique per workspace (case-insensitive).'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
              example:
                statusCode: 409
                message: A contact group with this name already exists
                error: Conflict
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/contact-groups/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getContactGroup
      tags: [Contact groups]
      summary: Get one group
      responses:
        "200":
          description: A group object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateContactGroup
      tags: [Contact groups]
      summary: Update a group
      description: Same fields as create, all optional.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactGroupWrite"
      responses:
        "200":
          description: The updated group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: '`"A contact group with this name already exists"` — renaming to another group''s name.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Campaigns ─────────────────────────────
  /v1/campaigns:
    get:
      operationId: listCampaigns
      tags: [Campaigns]
      summary: List campaigns
      description: |
        Standard list conventions. **List rows omit `variables` and `audience_filters`** —
        fetch a single campaign to read them.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated campaign list (rows omit `variables` and `audience_filters`).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Campaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createCampaign
      tags: [Campaigns]
      summary: Create a campaign
      description: |
        If the campaign is saved with `status: "scheduled"` **and** a `scheduled_at`, it is
        automatically queued to execute at `scheduled_at` — you do not need to call
        `/execute`. Any change to the campaign re-syncs the schedule.

        At send time, the audience can only **narrow** the built-in WhatsApp
        send-eligibility baseline (subscribed, not blocked, deliverable) — never widen it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignWrite"
      responses:
        "201":
          description: The full created campaign object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "400":
          description: |
            Field validation, unknown fields, `"Invalid audience_filters definition"`
            (body includes an `errors` array; condition-tree values are type-checked like
            list filters), an unparseable date value
            (`Invalid date value for "scheduled_at": "<value>"`), or a workspace monthly
            campaign cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Audience not found"` — `audience_id` not in this workspace.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/campaigns/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getCampaign
      tags: [Campaigns]
      summary: Get one campaign
      responses:
        "200":
          description: The full campaign object (including `variables` and `audience_filters`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateCampaign
      tags: [Campaigns]
      summary: Update a campaign
      description: |
        Same fields as create, all optional; same audience validation and scheduling
        re-sync. The API can only set `status` to `draft` or `scheduled`. There is no
        restriction based on the campaign's current status — patching a running/completed
        campaign is possible and re-syncs scheduling, so take care not to accidentally
        re-schedule a finished campaign.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignWrite"
      responses:
        "200":
          description: The updated campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/campaigns/{id}/execute:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: executeCampaign
      tags: [Campaigns]
      summary: Queue a scheduled campaign for immediate execution
      description: |
        The campaign must have `status: "scheduled"` — a draft must first be PATCHed to
        `scheduled`. No request body.

        Success answers **200**; failures use real error statuses with the structured
        `{"error": {"code", "message"}}` envelope (404 `campaign_not_found`,
        409 `campaign_not_scheduled`).

        A campaign created via `POST /v1/campaigns` without an explicit `status` defaults
        to `draft`, so a naive create → execute sequence returns the 409 — set
        `status: "scheduled"` on create, or PATCH it, before executing.

        Execution is queued with a per-campaign job id, so repeated execute calls while a
        run is queued do not enqueue duplicates. Delivery progress is reflected in the
        campaign's counters, which you can poll via `GET /v1/campaigns/{id}`.
      responses:
        "200":
          description: The campaign was queued for execution.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignExecuteResult"
              example:
                success: true
                message: Campaign queued for execution
                jobId: execute-1f2e3d4c-...
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`campaign_not_found` — the campaign id is not in this workspace.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
              example:
                error:
                  code: campaign_not_found
                  message: Campaign not found
        "409":
          description: |
            `campaign_not_scheduled` — the campaign is not in `scheduled` status (draft
            campaigns 409 on execute).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
              example:
                error:
                  code: campaign_not_scheduled
                  message: "Campaign status is 'draft' — only 'scheduled' campaigns can be executed"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Templates ─────────────────────────────
  /v1/templates:
    get:
      operationId: listTemplates
      tags: [Templates]
      summary: List templates
      description: |
        Standard list conventions. Only templates with an approved `status` can be delivered
        by WhatsApp.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated template list (full rows).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Template"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/templates/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getTemplate
      tags: [Templates]
      summary: Get one template
      responses:
        "200":
          description: A full template row.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/templates/{id}/send:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: sendTemplate
      tags: [Templates]
      summary: Send a template message
      description: |
        Sends the template to a phone number. The template must belong to your workspace
        (404 otherwise). The recipient contact is matched by normalized phone — **created
        automatically if it doesn't exist** — and the sent message is recorded in the Inbox
        conversation.

        The nested shapes of `body_variables` / `header_config` / `button_configs` are
        **strictly validated on the request**: a malformed entry (e.g.
        `body_variables: [null]`, or a button without `parameters`) returns 400 in the
        standard validation shape, where `message` is an array of per-field strings (e.g.
        `["body_variables.0.text must be a string"]`). Unknown properties inside these
        nested objects are rejected too (`property <name> should not exist`). Content that
        only the WhatsApp provider rejects still surfaces as a 502.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateSendRequest"
      responses:
        "201":
          description: The message was sent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateSendResult"
        "400":
          description: |
            Malformed nested `body_variables`/`header_config`/`button_configs` entries or
            unknown nested properties (`message` is an array of per-field strings, e.g.
            `["body_variables.0.text must be a string"]`), missing required template
            variables/config
            (`"Cannot send WhatsApp template — missing required field(s): …"`), or a bad
            `header_config.media_type`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            `"This contact is blocked"`, or
            `"This phone number is on the blacklist and cannot be messaged"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "404":
          description: |
            Template not in this workspace, or `"No connected WhatsApp instance found"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          description: |
            WhatsApp/Meta refused the send. **The failed message row is persisted** —
            `message_id`/`conversation_id` are included so you can retry or inspect it in
            the Inbox.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The provider error.
                  message_id:
                    type: string
                    format: uuid
                  conversation_id:
                    type: string
                    format: uuid

  # ───────────────────────────── Pipelines & Deals ─────────────────────────────
  /v1/pipelines:
    get:
      operationId: listPipelines
      tags: [Pipelines]
      summary: List pipelines with their stages
      description: |
        Returns a JSON **array** (no pagination envelope) of the workspace's pipelines,
        ordered by position, each with its ordered `stages`. Exactly one pipeline per
        workspace has `is_default: true`. Use this to map stage ids before creating or
        moving deals.
      responses:
        "200":
          description: All pipelines with stages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Pipeline"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/deals:
    get:
      operationId: listDeals
      tags: [Deals]
      summary: List deals
      description: |
        Uses dedicated query parameters (not the generic `filter`) and its own pagination
        defaults: `limit` default 25 (cap 100), `offset` min 0. Absent or empty
        `limit`/`offset` values default; malformed values return 400
        (`"Invalid limit: must be a non-negative integer"`). The UUID query parameters are
        validated — a malformed value returns 400 (`"Invalid pipeline_id: must be a
        UUID"`), while an empty value (`?pipeline_id=`) is treated as absent. Unrecognized
        enum filter values are still silently ignored rather than returning 400. Results
        are ordered newest-first. Rows include the joined
        `contact_name`/`contact_phone`/`contact_email`.
      parameters:
        - name: pipeline_id
          in: query
          description: |
            Exact match — take the id from `GET /v1/pipelines`. Malformed → 400
            `"Invalid pipeline_id: must be a UUID"`; empty is treated as absent.
          schema:
            type: string
            format: uuid
        - name: stage_id
          in: query
          description: 'Exact match. Malformed → 400 `"Invalid stage_id: must be a UUID"`.'
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Any other value is silently ignored (unfiltered result).
          schema:
            type: string
            enum: [open, won, lost]
        - name: contact_id
          in: query
          description: 'Exact match. Malformed → 400 `"Invalid contact_id: must be a UUID"`.'
          schema:
            type: string
            format: uuid
        - name: owner_user_id
          in: query
          description: 'Exact match. Malformed → 400 `"Invalid owner_user_id: must be a UUID"`.'
          schema:
            type: string
            format: uuid
        - name: external_reference
          in: query
          description: Exact match — look up a deal by your idempotency reference.
          schema:
            type: string
        - name: search
          in: query
          description: Case-insensitive match over deal title + contact name/phone/email.
          schema:
            type: string
        - $ref: "#/components/parameters/ClampedLimitParam"
        - $ref: "#/components/parameters/ClampedOffsetParam"
      responses:
        "200":
          description: Paginated deal list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Deal"
        "400":
          description: |
            A malformed UUID query parameter (`"Invalid pipeline_id: must be a UUID"`, …)
            or a malformed `limit`/`offset`
            (`"Invalid limit: must be a non-negative integer"`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: upsertDeal
      tags: [Deals]
      summary: Create a deal (idempotent upsert via `external_reference`)
      description: |
        Creates a deal — or, when `external_reference` matches an existing deal in the
        workspace, **updates it**:

        - Fields updated (only those present in the body): `product_id` (when a product
          reference resolves), `title` (still ignored while a product is attached),
          `amount`, `currency`, `owner_user_id`, `expected_close_at`, `note`.
        - `contact_id` is always re-applied from the freshly resolved contact — a repeat
          POST with different phone/email re-points the deal to that contact. Every repeat
          POST must still carry `contact_id` or `phone`/`email`.
        - `stage_id`, if present and different from the current stage, **moves** the deal
          (same ledger/automation effects as `POST /v1/deals/{id}/stage`).
        - `status` is never touched on a match; `pipeline_id` is ignored on a match.

        Contact resolution is shared with the contacts upsert: `contact_id` wins; otherwise
        `phone`/`email` are upserted (phone match wins, email fallback). While a product is
        attached, the deal's `title` derives from the product name and any client-sent
        title is ignored; a missing `amount` defaults to the product's price.

        The response is **201 in both cases** and carries a top-level boolean `duplicate`
        field — `false` when this request created the deal, `true` when the
        `external_reference` matched an existing deal.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealCreate"
      responses:
        "201":
          description: |
            The deal (created — `duplicate: false` — or updated — `duplicate: true`) +
            joined contact identity fields.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealUpsertResult"
        "400":
          description: |
            Coded errors (as `error_code`): `MISSING_TITLE`, `STAGE_PIPELINE_MISMATCH`,
            `NO_PIPELINE`, `PIPELINE_HAS_NO_STAGES`, `INVALID_DEAL_OWNER`,
            `INVALID_PRODUCT`, `PRODUCT_INACTIVE` — or a missing contact reference
            (`"Provide contact_id, or a phone/email…"`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            Plan-wide API access, `error_code: FEATURE_NOT_INCLUDED_IN_PLAN` — the plan
            lacks the Deals feature (body without a `statusCode` field) — or
            `error_code: PLAN_LIMIT_EXCEEDED` — deal cap reached (only when a cap is set
            on the workspace).
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/FrameworkError"
                  - $ref: "#/components/schemas/FeatureGateError"
        "404":
          description: '`"Contact not found"` / `"Pipeline not found"` / `"Stage not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          $ref: "#/components/responses/ContactMergeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/deals/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getDeal
      tags: [Deals]
      summary: Get one deal
      responses:
        "200":
          description: The deal + `contact_name`/`contact_phone`/`contact_email`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateDeal
      tags: [Deals]
      summary: Update deal fields
      description: |
        Field updates do **not** write stage-history entries and do **not** fire deal
        automations — only the `/stage` and `/status` routes do.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealPatch"
      responses:
        "200":
          description: The updated deal + joined contact fields.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        "400":
          description: "`INVALID_PRODUCT` / `PRODUCT_INACTIVE` / `INVALID_DEAL_OWNER` / validation."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Deal not found"` / `"Contact not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/deals/{id}/stage:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: moveDealStage
      tags: [Deals]
      summary: Move a deal to a stage
      description: |
        Move a deal to any stage in the workspace — cross-pipeline moves are supported; the
        deal's `pipeline_id` follows the target stage. A move to the deal's **current**
        stage is a pure reorder (no history entry, no automations). A genuine stage change
        stamps `stage_entered_at`, records a stage-transition history entry and activity
        row, and fires deal-stage-changed automations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [stage_id]
              properties:
                stage_id:
                  type: string
                  format: uuid
                  description: Target stage.
                index:
                  type: integer
                  minimum: 0
                  maximum: 100000
                  description: Position within the stage column, 0 = top. Omitted → top.
      responses:
        "201":
          description: The updated deal row (no joined contact fields on this route).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Deal not found"` / `"Stage not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/deals/{id}/status:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: setDealStatus
      tags: [Deals]
      summary: "Set status: open / won / lost"
      description: |
        Closing (`won`/`lost`) stamps `closed_at` and keeps the deal on its last stage.
        Reopening (`open`) clears `closed_at` and `lost_reason`. `won`/`lost` fire the
        corresponding deal automations (reopen fires none). If the deal already has the
        requested status, the current row is returned unchanged (no history entry, no
        automations).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [status]
              properties:
                status:
                  type: string
                  enum: [open, won, lost]
                  description: "`open` reopens a closed deal."
                lost_reason:
                  type: string
                  maxLength: 1000
                  description: Stored only when status is `lost`; cleared otherwise.
      responses:
        "201":
          description: The updated deal row (no joined contact fields).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Payments ─────────────────────────────
  /v1/payments:
    get:
      operationId: listPayments
      tags: [Payments]
      summary: List payments
      description: |
        Uses dedicated query parameters and its own pagination defaults (`limit` default 25,
        cap 100). Absent or empty `limit`/`offset` values default; malformed values return
        400 (`"Invalid limit: must be a non-negative integer"`). Unrecognized enum values
        are still silently ignored. Ordered by `purchase_date` descending. Rows include
        joined `contact_name`/`contact_phone`/`contact_email`. **List rows do not include
        entries.**
      parameters:
        - name: type
          in: query
          description: Other values are silently ignored.
          schema:
            type: string
            enum: [one_time, recurring, installments]
        - name: status
          in: query
          description: "Arrangement status: other values silently ignored."
          schema:
            type: string
            enum: [active, completed, cancelled]
        - name: search
          in: query
          description: Case-insensitive match over payment title + contact name/phone/email.
          schema:
            type: string
        - $ref: "#/components/parameters/ClampedLimitParam"
        - $ref: "#/components/parameters/ClampedOffsetParam"
      responses:
        "200":
          description: Paginated payment list (headers only, no entries).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Payment"
        "400":
          description: |
            A malformed `limit`/`offset`
            (`"Invalid limit: must be a non-negative integer"`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: upsertPayment
      tags: [Payments]
      summary: Create a payment (idempotent upsert via `external_reference`)
      description: |
        Creates a payment — or, when `external_reference` matches an existing payment,
        **updates it**. Only mutable fields are applied on a match:

        - Always (when present): `product_id`, `title` (subject to the product title lock),
          `note`, `method`.
        - Only when the existing payment is `one_time`: `amount`, `status`.
        - Only when it is `recurring`: `auto_generate`, `recurring_end_at`,
          `recurring_max_occurrences`.
        - Never restructured on a match: `type`, `interval`, `installment_count`,
          `purchase_date` — and, unlike deals, **the contact is NOT re-pointed** on a match.

        Entry creation per type: **one_time** — one entry with the given `status`
        (the header's `arrangement_status` mirrors it); **recurring** — the first cycle is
        recorded now when `record_first_payment` is true (default), further cycles record
        automatically when `auto_generate` is on; **installments** — `installment_count`
        monthly entries starting at `purchase_date`, recognized as revenue immediately.

        Contact resolution is identical to deals (409 `CONTACT_MERGE_REQUIRED` on identity
        conflict). Unlike deals, `amount` is always required — the product price does not
        substitute for it. The response is **201 in both cases** and carries a top-level
        boolean `duplicate` field — `false` when this request created the payment, `true`
        when the `external_reference` matched an existing payment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentCreate"
      responses:
        "201":
          description: |
            The payment (created — `duplicate: false` — or updated — `duplicate: true`)
            with its entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentUpsertResult"
        "400":
          description: |
            Bad type/amount, installment/schedule validation, `INVALID_PRODUCT` /
            `PRODUCT_INACTIVE`, or a missing contact reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Contact not found"` — `contact_id` not in this workspace.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          $ref: "#/components/responses/ContactMergeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/payments/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getPayment
      tags: [Payments]
      summary: Get a payment with its entries
      responses:
        "200":
          description: "`{ ...header, entries: [...] }` with entries ordered by `sequence`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updatePayment
      tags: [Payments]
      summary: Update a payment
      description: |
        A one-time `amount`/`status` change flows into the payment's single entry and
        re-maps the header's `arrangement_status`. Shortening a recurring plan's end
        conditions may auto-complete it; extending them never silently reactivates a
        completed plan. A one-time status change fires the matching automation after the
        update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentPatch"
      responses:
        "200":
          description: The payment with entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          description: |
            `"This charge already has refunds; reverse those instead of marking it
            refunded/failed"` — use `/refund` — or recurring end-condition validation errors.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/payments/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: cancelPayment
      tags: [Payments]
      summary: Cancel a recurring plan
      description: |
        Cancels a **recurring** plan. No request body. Already-recorded entries are
        untouched.
      responses:
        "201":
          description: |
            The payment with `arrangement_status: "cancelled"`, `recurring_cancelled_at`
            set, auto-generation off, and no next due date.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          description: '`"Only recurring payments can be cancelled"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/payments/{id}/entries/{entryId}/mark:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
      - name: entryId
        in: path
        required: true
        description: The entry to mark; must belong to the payment in the URL.
        schema:
          type: string
          format: uuid
    post:
      operationId: markPaymentEntry
      tags: [Payments]
      summary: Set one entry's status
      description: |
        Marking `completed` stamps `paid_at` and recognizes the revenue. A one-time header
        mirrors its entry's status; recurring/installment headers are **not** changed by
        marking one cycle. Status-change automations fire as on PATCH (payment-recorded only
        for a newly recognized completion).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, completed, failed, refunded]
      responses:
        "201":
          description: The full parent payment with entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          description: |
            `"Refund entries cannot be marked directly"` or `"This charge already has
            refunds; reverse those instead of marking it refunded/failed"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: |
            `"Payment entry not found"` (unknown, foreign, or not an entry of this payment)
            or `"Payment not found"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/payments/{id}/refund:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: refundPayment
      tags: [Payments]
      summary: Record a refund against a charge
      description: |
        Records a refund entry against a completed charge. Multiple partial refunds against
        one charge are supported, up to its recognized value; refunds are race-safe —
        concurrent refund requests cannot over-refund a charge. A fully refunded
        **one-time** payment's header becomes `arrangement_status: "cancelled"`; partial
        refunds and multi-entry deals keep their status. Fires the payment-refunded
        automation with the refunded amount.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                entry_id:
                  type: string
                  format: uuid
                  description: |
                    The charge entry to refund. May be omitted only when the payment has
                    exactly one charge.
                amount:
                  type: number
                  exclusiveMinimum: 0
                  maximum: 9999999999
                  description: Partial refund amount. Omitted → the full remaining refundable balance.
                note:
                  type: string
                  maxLength: 1000
                  description: Stored on the refund entry.
      responses:
        "201":
          description: |
            The payment with a new entry: `kind: "refund"`, negative
            `amount`/`recognized_amount`, `status: "refunded"`, `refunds_entry_id` pointing
            at the charge.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          description: |
            Refund validation: `"entryId is required to refund a payment with multiple
            charges"`, `"Only a completed (recognized) charge can be refunded"`, `"This
            charge is not recognized as revenue yet and cannot be refunded"`, `"Refund
            amount must be a positive number"`, `"This charge is no longer refundable"` /
            `"This charge is already fully refunded"`, or `"Refund amount exceeds the
            refundable balance (<max>)"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Payment not found"` / `"Payment entry not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Orders ─────────────────────────────
  /v1/orders:
    get:
      operationId: listOrders
      tags: [Orders]
      summary: List orders
      description: |
        Uses dedicated query parameters (no generic `filter`) and the deals/payments
        pagination defaults (`limit` default 25, cap 100) — with one deliberate
        difference: paging on this route **never returns 400**. Malformed or zero
        `limit`/`offset` values silently default (25 / 0) and out-of-range values are
        clamped. Unrecognized `status`/`source` values are silently ignored (unfiltered
        result). Ordered by **`placed_at` descending** (not `created_at`). Rows include
        the joined `contact_name`/`contact_phone`/`contact_email` and **omit
        `items`/`refunds`** — fetch a single order to read them. There is no `search`
        parameter on this route.
      parameters:
        - name: status
          in: query
          description: Financial status. Any other value is silently ignored (unfiltered result).
          schema:
            type: string
            enum: [pending, paid, partially_paid, refunded, partially_refunded, voided]
        - name: contact_id
          in: query
          description: |
            Exact match. Malformed → 400 `"contact_id must be a UUID"` (note the wording
            differs from deals/payments); empty (`?contact_id=`) is treated as absent.
          schema:
            type: string
            format: uuid
        - name: source
          in: query
          description: |
            Exact match — `manual`, `api`, or `automation`; orders synced from a
            connected store carry the store platform name.
          schema:
            type: string
        - name: store_connection_id
          in: query
          description: |
            Exact match on the store-sync provenance field — orders synced from a
            connected store. Malformed → 400 `"store_connection_id must be a UUID"`.
          schema:
            type: string
            format: uuid
        - name: external_reference
          in: query
          description: Exact match — look up an order by your idempotency reference.
          schema:
            type: string
        - name: placed_from
          in: query
          description: 'Orders placed at/after this instant. Unparseable → 400 `"placed_from is not a valid date"`.'
          schema:
            type: string
            format: date-time
        - name: placed_to
          in: query
          description: 'Orders placed at/before this instant. Unparseable → 400 `"placed_to is not a valid date"`.'
          schema:
            type: string
            format: date-time
        - $ref: "#/components/parameters/LenientLimitParam"
        - $ref: "#/components/parameters/LenientOffsetParam"
      responses:
        "200":
          description: Paginated order list (rows omit `items`/`refunds`).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Order"
        "400":
          description: |
            A malformed UUID query parameter (`"contact_id must be a UUID"`,
            `"store_connection_id must be a UUID"`) or an unparseable date bound
            (`"placed_from is not a valid date"`, `"placed_to is not a valid date"`).
            Never a paging error on this route.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createOrder
      tags: [Orders]
      summary: Create an order (idempotent upsert via `external_reference`)
      description: |
        Creates an order — or, when `external_reference` matches an existing order in the
        workspace, **updates its mutable fields** (race-safe: a concurrent create losing
        the uniqueness race retries as an update against the winner). On a match:

        - Always updated (when present in the body): `note`, `coupon_codes`, `placed_at`,
          `deal_id`.
        - Money fields (`items`, `currency`, `discount_total`, `shipping_total`,
          `tax_total`) apply **only while the order is still `pending`** — once paid,
          money is locked and repeat POSTs silently skip these fields (corrections flow
          through refunds/cancel).
        - `financial_status` is **never** changed on a match — an exact replay of a
          created-as-paid POST is a clean no-op, and a repeat POST can never resurrect a
          cancelled order. Status moves ride the mark-paid/cancel/refund endpoints.
        - The contact is **never re-pointed** on a match (unlike deals). Contact
          resolution still runs first, so a repeat POST must still carry `contact_id` or
          `phone`/`email` (and phone/email upsert side effects still apply to the contact
          itself).

        Contact resolution is shared with the contacts upsert: `contact_id` wins;
        otherwise `phone`/`email` are upserted (phone match wins, email fallback). Line
        totals are server-computed: `line_total` = round2(`quantity` × `unit_price` ×
        (1 − `discount_percent`/100)); `subtotal` = the sum of rounded line totals;
        `total` = max(0, `subtotal` − `discount_total` + `shipping_total` + `tax_total`).
        Rounding is 2-decimal half-up.

        The response is **201 in both cases** with the full order (items + refunds +
        joined contact identity). **Unlike the other idempotent creates there is no
        top-level `duplicate` field** — both outcomes return the same body. To
        distinguish, compare `created_at` or pre-check with
        `GET /v1/orders?external_reference=...`.

        Creation fires order-created automations (plus order-paid when created as
        `paid`), writes the contact's activity timeline, and emits registered
        `order.created` (and `order.paid`) webhooks; a paid create records a completed
        payment for the full order total in the order's currency on the contact's
        payment history. Writes are attributed to source `api`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreate"
      responses:
        "201":
          description: |
            The full order (created or updated — same body either way, no `duplicate`
            marker) with `items`, `refunds`, and joined contact identity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "400":
          description: |
            Coded errors (as `error_code`): `INVALID_PRODUCT`, `PRODUCT_INACTIVE`,
            `ORDER_ITEM_PRICE_REQUIRED` (a dynamic-priced product without an explicit
            `unit_price`) — or a missing contact reference (`"Provide contact_id, or a
            phone/email…"`), a line with neither product nor title (`"Order items
            require a title or product_id"`), `"placed_at is not a valid date"`,
            money-field checks (`"discount_total must be a non-negative number"`, …), or
            a validation array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            Plan-wide API access, `error_code: FEATURE_NOT_INCLUDED_IN_PLAN` — the plan
            lacks the Orders feature (body without a `statusCode` field) — or
            `error_code: PLAN_LIMIT_EXCEEDED` — order cap reached (only when a cap is
            set on the workspace; orders are uncapped by default on all tiers).
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/FrameworkError"
                  - $ref: "#/components/schemas/FeatureGateError"
        "404":
          description: |
            `"Contact not found"` (`contact_id` not in this workspace), or
            `error_code: "ORDER_DEAL_NOT_FOUND"` — `deal_id` unknown to the workspace.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          description: |
            Coded conflicts (as `error_code`): `CONTACT_MERGE_REQUIRED` (phone and email
            resolve to two different existing contacts — a merge request is opened, its
            `merge_request_id` is included, and the order is **not** created),
            `ORDER_DEAL_CONTACT_MISMATCH` (`deal_id` belongs to another contact), or
            `ORDER_REFERENCE_EXISTS` (`"An order with this external_reference already
            exists."` — normally auto-resolved into an update by the retry path, so
            callers should not normally observe it).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/orders/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getOrder
      tags: [Orders]
      summary: Get one order with items and refunds
      responses:
        "200":
          description: |
            The full order: header + `items` (ordered by `position`) + `refunds`
            (ordered by `refunded_at` ascending) + joined contact identity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
              example:
                id: 5f6a7b8c-9d0e-4f1a-8b2c-3d4e5f6a7b8c
                workspace_id: 0f1e2d3c-4b5a-4978-8796-a5b4c3d2e1f0
                contact_id: 9e8d7c6b-5a49-4837-9605-f4e3d2c1b0a9
                contact_name: Dana Levi
                contact_phone: "+972501234567"
                contact_email: dana@example.com
                order_number: 1042
                number: null
                platform: api
                source: api
                store_connection_id: null
                store_domain: null
                external_order_id: null
                external_reference: shop-88123
                deal_id: null
                financial_status: pending
                fulfillment_status: unfulfilled
                currency: ILS
                total: 360
                subtotal: 340
                discount_total: 0
                shipping_total: 20
                tax_total: 0
                refunded_total: 0
                item_count: 2
                first_item_name: Widget
                coupon_codes: []
                placed_at: "2026-07-14T09:58:00.000Z"
                paid_at: null
                cancelled_at: null
                refunded_at: null
                external_updated_at: null
                payment_reference: null
                payment_synced_at: null
                note: null
                metadata: null
                created_by: null
                created_at: "2026-07-14T09:58:04.000Z"
                updated_at: "2026-07-14T09:58:04.000Z"
                items:
                  - id: 1a2b3c4d-5e6f-4a0b-9c8d-7e6f5a4b3c2d
                    workspace_id: 0f1e2d3c-4b5a-4978-8796-a5b4c3d2e1f0
                    order_id: 5f6a7b8c-9d0e-4f1a-8b2c-3d4e5f6a7b8c
                    position: 0
                    product_id: null
                    external_product_id: null
                    title: Widget
                    sku: WID-1
                    quantity: 2
                    unit_price: 170
                    discount_percent: null
                    line_total: 340
                    created_at: "2026-07-14T09:58:04.000Z"
                refunds: []
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: |
            `"Order not found"` — unknown id or another workspace's order
            (deliberately indistinguishable).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/orders/{id}/refunds:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: refundOrder
      tags: [Orders]
      summary: Record a refund (idempotent via `external_refund_id`)
      description: |
        Appends to the order's append-only refund ledger, rolls `financial_status` to
        `partially_refunded` or `refunded` (a full-rollup refund → `refunded`; these two
        states are reachable **only** through refunds, never through a status endpoint),
        stamps `refunded_at` on the header, mirrors the refund into the recorded
        payment, and fires order-refunded automations + the `order.refunded` webhook.

        Refunds require the order to have **ever been paid** (`paid_at` set — includes
        `partially_paid`); refunding a cancelled-but-paid order is allowed (cancellation
        doesn't touch the money axis). The amount must not exceed the remaining total
        (`total` − `refunded_total`).

        **Idempotency:** a repeat POST with the same `external_refund_id` applies
        nothing and returns `duplicate: true` with the current order state. **Without
        `external_refund_id`, refunds are NOT idempotent** — every POST appends a new
        refund; supply one whenever your system can retry.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [amount]
              properties:
                amount:
                  type: number
                  exclusiveMinimum: 0
                  maximum: 9999999999
                  description: |
                    In the order's currency; must not exceed the remaining total
                    (`total` − `refunded_total`).
                external_refund_id:
                  type: string
                  maxLength: 255
                  description: |
                    **Idempotency key** — a repeat POST with the same value on this
                    order applies nothing and returns `duplicate: true`. Strongly
                    recommended whenever your system can retry.
                reason:
                  type: string
                  maxLength: 1000
                refunded_at:
                  type: string
                  format: date-time
                  description: ISO 8601; defaults to now.
      responses:
        "201":
          description: The `duplicate` marker plus the full current order (items + refunds).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderRefundResult"
              example:
                duplicate: false
                order:
                  id: 5f6a7b8c-9d0e-4f1a-8b2c-3d4e5f6a7b8c
                  workspace_id: 0f1e2d3c-4b5a-4978-8796-a5b4c3d2e1f0
                  contact_id: 9e8d7c6b-5a49-4837-9605-f4e3d2c1b0a9
                  contact_name: Dana Levi
                  contact_phone: "+972501234567"
                  contact_email: dana@example.com
                  order_number: 1042
                  number: null
                  platform: api
                  source: api
                  store_connection_id: null
                  store_domain: null
                  external_order_id: null
                  external_reference: shop-88123
                  deal_id: null
                  financial_status: partially_refunded
                  fulfillment_status: unfulfilled
                  currency: ILS
                  total: 360
                  subtotal: 340
                  discount_total: 0
                  shipping_total: 20
                  tax_total: 0
                  refunded_total: 50
                  item_count: 2
                  first_item_name: Widget
                  coupon_codes: []
                  placed_at: "2026-07-14T09:58:00.000Z"
                  paid_at: "2026-07-14T10:12:00.000Z"
                  cancelled_at: null
                  refunded_at: "2026-07-15T08:30:00.000Z"
                  external_updated_at: null
                  payment_reference: pay-2026-1042
                  payment_synced_at: "2026-07-14T10:12:01.000Z"
                  note: null
                  metadata: null
                  created_by: null
                  created_at: "2026-07-14T09:58:04.000Z"
                  updated_at: "2026-07-15T08:30:00.000Z"
                  items:
                    - id: 1a2b3c4d-5e6f-4a0b-9c8d-7e6f5a4b3c2d
                      workspace_id: 0f1e2d3c-4b5a-4978-8796-a5b4c3d2e1f0
                      order_id: 5f6a7b8c-9d0e-4f1a-8b2c-3d4e5f6a7b8c
                      position: 0
                      product_id: null
                      external_product_id: null
                      title: Widget
                      sku: WID-1
                      quantity: 2
                      unit_price: 170
                      discount_percent: null
                      line_total: 340
                      created_at: "2026-07-14T09:58:04.000Z"
                  refunds:
                    - id: 2b3c4d5e-6f7a-4b1c-8d9e-0f1a2b3c4d5e
                      workspace_id: 0f1e2d3c-4b5a-4978-8796-a5b4c3d2e1f0
                      order_id: 5f6a7b8c-9d0e-4f1a-8b2c-3d4e5f6a7b8c
                      external_refund_id: r-1
                      amount: 50
                      currency: ILS
                      reason: damaged
                      refunded_at: "2026-07-15T08:30:00.000Z"
                      created_at: "2026-07-15T08:30:00.000Z"
        "400":
          description: |
            `error_code: "ORDER_NEVER_PAID"` (`"Cannot refund an order that was never
            paid."`), `"Refund amount must be a positive number"`, `"Refund amount
            exceeds the order's remaining total (<max>)"`, `"refundedAt is not a valid
            date"`, or a validation array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Order not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          description: |
            `error_code: "STORE_SYNCED_READ_ONLY"` — the order is synced from a
            connected store and is read-only via the API.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/orders/{id}/mark-paid:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: markOrderPaid
      tags: [Orders]
      summary: Mark an order paid
      description: |
        Moves `financial_status` to `paid`, records the payment — a completed one-time
        payment for the full order total in the order's currency on the contact's
        payment history — or **links onto an existing payment** via `payment_reference`,
        and fires order-paid automations + the `order.paid` webhook.

        Transition rules: allowed from `pending` and `partially_paid`; an already-`paid`
        order is a **no-op success** (201, no side effects, no duplicate automations);
        from `refunded`/`partially_refunded`/`voided` → 409 `ORDER_ILLEGAL_TRANSITION`
        (refund states are set by recording refunds). `paid_at` is stamped on first
        entry into a paid state and is historical — it is kept through later refund
        states. A cancelled `pending` order can still be marked paid (the `cancelled_at`
        stamp does not affect the ladder).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                payment_reference:
                  type: string
                  maxLength: 255
                  description: |
                    The `external_reference` of an **existing** payment row (e.g. one
                    your system already recorded via `POST /v1/payments`) to link the
                    order onto instead of recording a new payment. Link-only — the
                    payment's amount is never rewritten. Validated **before** linking
                    (see the 404/409 responses).
      responses:
        "201":
          description: The full order (items + refunds + joined contact identity).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: |
            `"Order not found"`, or `error_code: "ORDER_PAYMENT_REFERENCE_NOT_FOUND"` —
            no payment in this workspace matches `payment_reference`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          description: |
            Coded conflicts (as `error_code`): `ORDER_ILLEGAL_TRANSITION` (from a refund
            state or `voided`), `ORDER_PAYMENT_CONTACT_MISMATCH` (the payment belongs to
            another contact), `ORDER_PAYMENT_NOT_LINKABLE` (not a one-time payment with
            a completed charge), `ORDER_PAYMENT_ALREADY_LINKED` (the order is already
            linked to a **different** payment reference — re-sending the same reference
            is fine), or `STORE_SYNCED_READ_ONLY` (the order is synced from a connected
            store and is read-only via the API).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"
              example:
                statusCode: 409
                error: Conflict
                error_code: ORDER_ILLEGAL_TRANSITION
                message: "Illegal status transition refunded → paid. Refund states are set by recording refunds."
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/orders/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: cancelOrder
      tags: [Orders]
      summary: Cancel an order
      description: |
        Stamps `cancelled_at` and fires order-cancelled automations + the
        `order.cancelled` webhook. No request body.

        Cancellation is a **stamp, not a status**: `financial_status` keeps its last
        state — recorded revenue stands until a refund is recorded (cancel a paid order,
        then record refunds as money is returned). **Idempotent:** cancelling an
        already-cancelled order is a 201 no-op (no duplicate automations). A cancelled
        `pending` order can still be marked paid later — cancel is workflow state on the
        fulfillment side, not a financial transition.
      responses:
        "201":
          description: |
            The full order (items + refunds + joined contact identity) with
            `cancelled_at` set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Order not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          description: |
            `error_code: "STORE_SYNCED_READ_ONLY"` — the order is synced from a
            connected store and is read-only via the API.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Emails ─────────────────────────────
  /v1/emails:
    post:
      operationId: sendEmail
      tags: [Emails]
      summary: Send a transactional email (idempotent)
      description: |
        Sends a single transactional email through your workspace's verified sending
        domain. **Raw-content endpoint**: your HTML/text is delivered verbatim — no
        marketing footer, no unsubscribe link, and no tracking is injected unless you opt
        in. Requires at least one verified sending domain with a sender profile configured
        in the app.

        Rate limit: **300 requests / minute per key** (higher than the API default).
        Errors on this endpoint use the structured envelope `{"error": {"code","message"}}`.

        **Idempotency:** the `idempotency_key` is claimed before any quota/deliverability
        gate, so two concurrent requests with the same key can't both send. Replaying a
        resolved key returns **200** with `duplicate: true`. Validation failures and most
        pre-send errors release the key. At-least-once corner case: in a rare
        crash-and-retry overlap right after a successful provider handoff, the message can
        be delivered twice while your retry receives `200 duplicate: true` — design
        receivers so a duplicate email is acceptable.

        **Suppressed recipients are a 2xx, not an error** — check `status` in the body; do
        not treat 2xx alone as "delivered to the provider". The suppression reason is
        deliberately coarse.

        **Tracking (opt-in):** `opens` appends a 1×1 pixel to the HTML part; `clicks` wraps
        absolute http(s) links in the HTML part in a first-party redirect that forwards to
        your URL verbatim (`mailto:`, in-page anchors, relative URLs, and extremely long
        URLs are never wrapped). The plain-text part is never modified. If the deployment
        lacks a usable signing secret for tracking links, the message is sent untracked
        rather than failing. Open/click events arrive via the opt-in
        `email.opened`/`email.clicked` webhooks (first open / first click per send only).

        Consent is your responsibility: this endpoint neither checks marketing consent nor
        creates oToK contact records for recipients. The suppression list is still enforced
        (fail-closed).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailSendRequest"
      responses:
        "201":
          description: This request performed the send (fresh idempotency key).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailSendResult"
        "200":
          description: "Idempotent replay of an already-processed key (`duplicate: true`)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailSendResult"
        "400":
          description: |
            Request-shape violations (standard validation body), or `validation_failed`
            (structured envelope): both `html` and `text` missing; disallowed or invalid
            custom header; `metadata` over 2048 bytes.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FrameworkError"
                  - $ref: "#/components/schemas/DomainError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: "`quota_exceeded` — monthly email quota exhausted; resets at the next billing period or after an upgrade."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: "`sender_profile_not_found` — `sender_profile_id` not found in this workspace."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "409":
          description: |
            `send_in_progress` — same idempotency key currently processing; retry shortly
            (a claim stuck by a crash is automatically recoverable after ~3 minutes).
            Or `no_verified_sender` — no sender profile with a verified domain.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "422":
          description: "`invalid_recipient` — `to` is not a valid email address; permanent, do not retry unchanged."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "429":
          description: |
[...]
