openapi: 3.1.0
info:
  title: oToK REST API
  version: "1.1.0"
  summary: Public REST API for the oToK multichannel marketing communication platform.
  description: |
    The oToK REST API (`/v1`) gives programmatic access to your workspace: contacts, tags and
    groups, WhatsApp campaigns and templates, deals and pipelines, payments, transactional
    email, outbound webhooks, and bookings.

    ## Authentication

    Send a workspace API key as a bearer token on every request:

    ```
    Authorization: Bearer otok_live_...
    ```

    Keys are created in **Settings → Developers** in the oToK app and are shown exactly once.
    A revoked key is indistinguishable from an unknown key — both return `401 "Invalid API key"`.
    The REST API requires a plan with API access (**Growth or higher**); other plans receive `403`.

    Endpoint groups that mirror a plan-gated product area additionally require that feature on
    the workspace's plan — deals/pipelines (`deals`), payments (`payments`), campaigns
    (`campaigns`), bookings/meeting-types (`booking`). Every route in a gated group answers
    `403` with `error_code: "FEATURE_NOT_INCLUDED_IN_PLAN"` (a body **without** a `statusCode`
    field) when the plan lacks the feature. Contacts, notes, tags, contact groups, templates,
    emails, and webhook endpoints require only plan-wide API access.

    ## Error shapes

    The API uses **two error body shapes**:

    1. **Domain errors** (email and webhook-endpoint APIs, and `POST /v1/campaigns/{id}/execute`
       failures) use a structured envelope: `{"error": {"code", "message"}}` — key on `error.code`.
    2. **Framework errors** (validation, auth, rate limiting, most resource errors) use
       `{"statusCode", "message", "error"}`, where `message` is a string or an array of
       per-field validation messages. Some 4xx responses extend this shape with a
       machine-readable `error_code` field (deals, payments, bookings, contacts).

    Request bodies are strictly validated: unknown body properties are rejected with 400.
    Path `:id` parameters must be UUIDs; a non-UUID id returns 400 (except
    `DELETE /v1/webhook-endpoints/{id}`, which returns 404).

    ## Deletion

    The API never deletes customer data — contacts, deals, payments, campaigns, tags, and
    contact groups have no DELETE routes. The only DELETE endpoints are for resources the API
    owns: `DELETE /v1/notes/{id}` and `DELETE /v1/webhook-endpoints/{id}`.

    ## Rate limits

    | Scope | Limit |
    |---|---|
    | Per API key (default, all endpoints) | 100 requests / minute |
    | `POST /v1/emails` | 300 requests / minute per key |
    | Per source IP, across all API-key traffic | 300 requests / minute |

    Exceeding a limit returns HTTP 429 with a `Retry-After` header. The per-key bucket is
    shared across all source IPs using that key.

    ## Pagination

    Most list endpoints return `{ "data", "total", "limit", "offset" }` with `limit`
    default 50 (hard cap 500). `GET /v1/deals` and `GET /v1/payments` use dedicated query
    parameters with `limit` default 25 (cap 100); absent or empty `limit`/`offset` values
    default, while malformed values return `400` (`"Invalid limit: must be a non-negative
    integer"`). Unrecognized enum filter values on these two routes are still silently
    ignored.

    ## Idempotency

    - Contacts upsert by `phone`/`email`.
    - Deals and payments upsert by `external_reference`.
    - Emails require an explicit `idempotency_key`.
    - Booking creation is idempotent per slot + meeting type + contact (server-derived, no key).

    Idempotent create responses carry a top-level boolean `duplicate` field — `false` on a
    fresh create, `true` when the call matched an existing record. Status codes are 201 for
    both outcomes everywhere except `POST /v1/emails`, which answers 201 fresh / 200 replay.
  contact:
    name: oToK
    url: https://app.otok.io
  license:
    name: MIT
    url: https://github.com/slikkdev/otok-api/blob/main/LICENSE
externalDocs:
  description: Prose guides (getting started, per-resource pages)
  url: https://slikkdev.github.io/otok-api/
servers:
  - url: https://app.otok.io/api
security:
  - bearerAuth: []
tags:
  - name: Contacts
    description: Contact upsert & update, plus the merge-conflict contract. There is no DELETE endpoint for contacts.
  - name: Contact notes
    description: Plain-text notes on a contact. API note payloads are text only.
  - name: Tags
    description: Tag CRUD (no delete). Names are unique per workspace (case-insensitive).
  - name: Contact groups
    description: Contact group CRUD (no delete). Names are unique per workspace (case-insensitive).
  - name: Campaigns
    description: WhatsApp campaigns — create, schedule, execute.
  - name: Templates
    description: WhatsApp message templates — read and send only; template management is in-app.
  - name: Pipelines
    description: Read pipelines and their stages.
  - name: Deals
    description: Deal CRUD-minus-delete, stage moves, win/lose, idempotent upsert via `external_reference`.
  - name: Payments
    description: One-time / recurring / installment payments, entries, refunds.
  - name: Emails
    description: "`POST /v1/emails` — idempotent raw transactional sends with opt-in tracking."
  - name: Webhook endpoints
    description: Register receivers for email delivery/engagement events on API-originated sends.
  - name: Meeting types
    description: Read meeting types and query open slots.
  - name: Bookings
    description: Booking lifecycle — create, cancel, reschedule, reassign host.

paths:
  # ───────────────────────────── Contacts ─────────────────────────────
  /v1/contacts:
    get:
      operationId: listContacts
      tags: [Contacts]
      summary: List contacts
      description: |
        Standard list conventions apply. `search` matches `name`, `first_name`, `last_name`,
        `email`, `phone`, `company_name` (case-insensitive substring), plus an exact match on
        the E.164-normalized form of the term and the contact's historical phone/email
        identifiers.

        Contacts support extra filter operators: `$jsonb_contains` for `tags`/`groups` (by
        UUID), `$event_attendance` (`{"event_id": "...", "status": "attended"}`), and the
        virtual consent fields `whatsapp_subscribed`, `email_subscribed` (boolean),
        `whatsapp_deliverability`, `email_deliverability`.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated contact list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Contact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: upsertContact
      tags: [Contacts]
      summary: Upsert a contact by phone/email
      description: |
        Creates a contact, or updates the existing contact that the given `phone`/`email`
        resolves to. Resolution is history-aware and **phone wins** over email. On a match,
        scalar fields overwrite, `custom_fields` shallow-merge, and `tags`/`groups` are
        **added** to the existing set (never removed by this route).

        The response is **201 in both cases** (create and update) and carries a top-level
        boolean `duplicate` field — `false` when this request created the contact, `true`
        when it matched and updated an existing one.

        If the phone resolves to one existing contact and the email to a *different* one, the
        API does not write: it opens a merge request and returns
        **409 `CONTACT_MERGE_REQUIRED`**. The non-identity fields of the request are parked
        with the merge request and applied when it is resolved.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactWrite"
      responses:
        "201":
          description: |
            The full contact object — returned for both create (`duplicate: false`) and
            update (`duplicate: true`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactUpsertResult"
        "400":
          description: |
            Validation failure, unknown fields, a blacklisted phone
            (`error_code: "PHONE_BLACKLISTED"`), or the workspace contact limit
            (only when a cap is set on the workspace).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/ContactMergeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/contacts/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getContact
      tags: [Contacts]
      summary: Get one contact
      responses:
        "200":
          description: A single contact object (same enrichment as list rows).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateContact
      tags: [Contacts]
      summary: Update a contact by id
      description: |
        Same field set and validation as the POST upsert (all optional), with different
        semantics:

        - `tags`/`groups` **replace** the full set (empty array clears; names auto-create).
        - `custom_fields` still shallow-merge — set a key to `null` to remove it.
        - `name` and `first_name`/`last_name` stay in sync.
        - `block_state` changes route through the consent/blocking subsystem; global blocks
          cannot be lifted via the API.

        Setting `phone`/`email` to an identifier that belongs to a *different* contact does
        not apply the write: like the POST upsert's conflict path, a merge request is opened
        and the response is **409 `CONTACT_MERGE_REQUIRED`**. Non-identity fields sent in the
        same PATCH are held on the merge request and applied when it is resolved. The
        conflict check is **history-aware**: an identifier no contact currently holds but
        that another contact previously held also parks a merge request and returns the 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactWrite"
      responses:
        "200":
          description: The updated contact object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "400":
          description: |
            Validation / unknown fields / non-UUID id, or `error_code: "PHONE_BLACKLISTED"`
            (only when the patch changes the phone to a blacklisted number).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: |
            `error_code: "CONTACT_MERGE_REQUIRED"` — the new phone/email belongs (or, via
            the history-aware check, previously belonged) to another contact. The write is
            not applied; a merge request is opened and the held fields apply when it is
            resolved (merge or dismiss). The response includes `merge_request_id`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"
              example:
                statusCode: 409
                error: Conflict
                error_code: CONTACT_MERGE_REQUIRED
                merge_request_id: 3a2b1c0d-4e5f-6a7b-8c9d-0e1f2a3b4c5d
                message: "This change would give the contact a phone or email that already belongs to another contact. A merge request was opened — resolve it (merge or dismiss) to apply the change."
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/contacts/{id}/notes:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: listContactNotes
      tags: [Contact notes]
      summary: List a contact's notes
      description: |
        Returns a JSON **array** of all the contact's notes — not paginated, no query
        parameters. Pinned notes come first (most recently pinned on top), then the rest
        newest-first. `author_name` is included on list responses only.
      responses:
        "200":
          description: All notes for the contact.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Note"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createContactNote
      tags: [Contact notes]
      summary: Add a note
      description: |
        API note payloads are text only (rich text and mentions are in-app features; sending
        them returns 400). Notes created via the API have no author user and are attributed
        to source `api`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [body]
              properties:
                body:
                  type: string
                  maxLength: 5000
                  description: Trimmed — empty after trim → 400 "Note body cannot be empty".
                pinned:
                  type: boolean
                  description: "`true` pins the note immediately."
      responses:
        "201":
          description: The created note.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/notes/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    patch:
      operationId: updateNote
      tags: [Contact notes]
      summary: Edit / pin a note
      description: |
        Both fields optional; sending neither returns the current note unchanged. A body
        change bumps `updated_at`; a pin toggle alone does not. If the note is the contact's
        profile note, a body edit also updates the contact's `notes` field (and fires
        field-change automations).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                body:
                  type: string
                  maxLength: 5000
                  description: Empty → 400.
                pinned:
                  type: boolean
                  description: Pin/unpin.
      responses:
        "200":
          description: The note after the update.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      operationId: deleteNote
      tags: [Contact notes]
      summary: Delete a note
      description: |
        Deleting the contact's profile note also clears the contact's `notes` field. A
        deletion breadcrumb is kept in the contact's activity timeline.
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    const: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Tags ─────────────────────────────
  /v1/tags:
    get:
      operationId: listTags
      tags: [Tags]
      summary: List tags
      description: Standard list conventions; `search` matches the `name` field.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated tag list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createTag
      tags: [Tags]
      summary: Create a tag
      description: |
        Tag names are unique per workspace (case-insensitive). A name that already exists
        returns **409 Conflict** — look up the existing record (list with `search=<name>`)
        and reuse it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TagWrite"
      responses:
        "201":
          description: The created tag with `usage_count` 0.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: '`"A tag with this name already exists"` — names are unique per workspace (case-insensitive).'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
              example:
                statusCode: 409
                message: A tag with this name already exists
                error: Conflict
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/tags/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getTag
      tags: [Tags]
      summary: Get one tag
      responses:
        "200":
          description: A tag object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateTag
      tags: [Tags]
      summary: Update a tag
      description: Same fields as create, all optional.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TagWrite"
      responses:
        "200":
          description: The updated tag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: '`"A tag with this name already exists"` — renaming to another tag''s name.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Contact groups ─────────────────────────────
  /v1/contact-groups:
    get:
      operationId: listContactGroups
      tags: [Contact groups]
      summary: List groups
      description: Standard list conventions; `search` matches the `name` field.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated group list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ContactGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createContactGroup
      tags: [Contact groups]
      summary: Create a group
      description: |
        Group names are unique per workspace (case-insensitive). A name that already exists
        returns **409 Conflict**.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactGroupWrite"
      responses:
        "201":
          description: The created group with `contact_count` 0.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: '`"A contact group with this name already exists"` — names are unique per workspace (case-insensitive).'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
              example:
                statusCode: 409
                message: A contact group with this name already exists
                error: Conflict
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/contact-groups/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getContactGroup
      tags: [Contact groups]
      summary: Get one group
      responses:
        "200":
          description: A group object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateContactGroup
      tags: [Contact groups]
      summary: Update a group
      description: Same fields as create, all optional.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactGroupWrite"
      responses:
        "200":
          description: The updated group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: '`"A contact group with this name already exists"` — renaming to another group''s name.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Campaigns ─────────────────────────────
  /v1/campaigns:
    get:
      operationId: listCampaigns
      tags: [Campaigns]
      summary: List campaigns
      description: |
        Standard list conventions. **List rows omit `variables` and `audience_filters`** —
        fetch a single campaign to read them.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated campaign list (rows omit `variables` and `audience_filters`).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Campaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createCampaign
      tags: [Campaigns]
      summary: Create a campaign
      description: |
        If the campaign is saved with `status: "scheduled"` **and** a `scheduled_at`, it is
        automatically queued to execute at `scheduled_at` — you do not need to call
        `/execute`. Any change to the campaign re-syncs the schedule.

        At send time, the audience can only **narrow** the built-in WhatsApp
        send-eligibility baseline (subscribed, not blocked, deliverable) — never widen it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignWrite"
      responses:
        "201":
          description: The full created campaign object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "400":
          description: |
            Field validation, unknown fields, `"Invalid audience_filters definition"`
            (body includes an `errors` array; condition-tree values are type-checked like
            list filters), an unparseable date value
            (`Invalid date value for "scheduled_at": "<value>"`), or a workspace monthly
            campaign cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Audience not found"` — `audience_id` not in this workspace.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/campaigns/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getCampaign
      tags: [Campaigns]
      summary: Get one campaign
      responses:
        "200":
          description: The full campaign object (including `variables` and `audience_filters`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateCampaign
      tags: [Campaigns]
      summary: Update a campaign
      description: |
        Same fields as create, all optional; same audience validation and scheduling
        re-sync. The API can only set `status` to `draft` or `scheduled`. There is no
        restriction based on the campaign's current status — patching a running/completed
        campaign is possible and re-syncs scheduling, so take care not to accidentally
        re-schedule a finished campaign.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignWrite"
      responses:
        "200":
          description: The updated campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/campaigns/{id}/execute:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: executeCampaign
      tags: [Campaigns]
      summary: Queue a scheduled campaign for immediate execution
      description: |
        The campaign must have `status: "scheduled"` — a draft must first be PATCHed to
        `scheduled`. No request body.

        Success answers **200**; failures use real error statuses with the structured
        `{"error": {"code", "message"}}` envelope (404 `campaign_not_found`,
        409 `campaign_not_scheduled`).

        A campaign created via `POST /v1/campaigns` without an explicit `status` defaults
        to `draft`, so a naive create → execute sequence returns the 409 — set
        `status: "scheduled"` on create, or PATCH it, before executing.

        Execution is queued with a per-campaign job id, so repeated execute calls while a
        run is queued do not enqueue duplicates. Delivery progress is reflected in the
        campaign's counters, which you can poll via `GET /v1/campaigns/{id}`.
      responses:
        "200":
          description: The campaign was queued for execution.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignExecuteResult"
              example:
                success: true
                message: Campaign queued for execution
                jobId: execute-1f2e3d4c-...
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`campaign_not_found` — the campaign id is not in this workspace.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
              example:
                error:
                  code: campaign_not_found
                  message: Campaign not found
        "409":
          description: |
            `campaign_not_scheduled` — the campaign is not in `scheduled` status (draft
            campaigns 409 on execute).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
              example:
                error:
                  code: campaign_not_scheduled
                  message: "Campaign status is 'draft' — only 'scheduled' campaigns can be executed"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Templates ─────────────────────────────
  /v1/templates:
    get:
      operationId: listTemplates
      tags: [Templates]
      summary: List templates
      description: |
        Standard list conventions. Only templates with an approved `status` can be delivered
        by WhatsApp.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated template list (full rows).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Template"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/templates/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getTemplate
      tags: [Templates]
      summary: Get one template
      responses:
        "200":
          description: A full template row.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/templates/{id}/send:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: sendTemplate
      tags: [Templates]
      summary: Send a template message
      description: |
        Sends the template to a phone number. The template must belong to your workspace
        (404 otherwise). The recipient contact is matched by normalized phone — **created
        automatically if it doesn't exist** — and the sent message is recorded in the Inbox
        conversation.

        The nested shapes of `body_variables` / `header_config` / `button_configs` are
        **strictly validated on the request**: a malformed entry (e.g.
        `body_variables: [null]`, or a button without `parameters`) returns 400 in the
        standard validation shape, where `message` is an array of per-field strings (e.g.
        `["body_variables.0.text must be a string"]`). Unknown properties inside these
        nested objects are rejected too (`property <name> should not exist`). Content that
        only the WhatsApp provider rejects still surfaces as a 502.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateSendRequest"
      responses:
        "201":
          description: The message was sent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateSendResult"
        "400":
          description: |
            Malformed nested `body_variables`/`header_config`/`button_configs` entries or
            unknown nested properties (`message` is an array of per-field strings, e.g.
            `["body_variables.0.text must be a string"]`), missing required template
            variables/config
            (`"Cannot send WhatsApp template — missing required field(s): …"`), or a bad
            `header_config.media_type`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            `"This contact is blocked"`, or
            `"This phone number is on the blacklist and cannot be messaged"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "404":
          description: |
            Template not in this workspace, or `"No connected WhatsApp instance found"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          description: |
            WhatsApp/Meta refused the send. **The failed message row is persisted** —
            `message_id`/`conversation_id` are included so you can retry or inspect it in
            the Inbox.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The provider error.
                  message_id:
                    type: string
                    format: uuid
                  conversation_id:
                    type: string
                    format: uuid

  # ───────────────────────────── Pipelines & Deals ─────────────────────────────
  /v1/pipelines:
    get:
      operationId: listPipelines
      tags: [Pipelines]
      summary: List pipelines with their stages
      description: |
        Returns a JSON **array** (no pagination envelope) of the workspace's pipelines,
        ordered by position, each with its ordered `stages`. Exactly one pipeline per
        workspace has `is_default: true`. Use this to map stage ids before creating or
        moving deals.
      responses:
        "200":
          description: All pipelines with stages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Pipeline"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/deals:
    get:
      operationId: listDeals
      tags: [Deals]
      summary: List deals
      description: |
        Uses dedicated query parameters (not the generic `filter`) and its own pagination
        defaults: `limit` default 25 (cap 100), `offset` min 0. Absent or empty
        `limit`/`offset` values default; malformed values return 400
        (`"Invalid limit: must be a non-negative integer"`). The UUID query parameters are
        validated — a malformed value returns 400 (`"Invalid pipeline_id: must be a
        UUID"`), while an empty value (`?pipeline_id=`) is treated as absent. Unrecognized
        enum filter values are still silently ignored rather than returning 400. Results
        are ordered newest-first. Rows include the joined
        `contact_name`/`contact_phone`/`contact_email`.
      parameters:
        - name: pipeline_id
          in: query
          description: |
            Exact match — take the id from `GET /v1/pipelines`. Malformed → 400
            `"Invalid pipeline_id: must be a UUID"`; empty is treated as absent.
          schema:
            type: string
            format: uuid
        - name: stage_id
          in: query
          description: 'Exact match. Malformed → 400 `"Invalid stage_id: must be a UUID"`.'
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Any other value is silently ignored (unfiltered result).
          schema:
            type: string
            enum: [open, won, lost]
        - name: contact_id
          in: query
          description: 'Exact match. Malformed → 400 `"Invalid contact_id: must be a UUID"`.'
          schema:
            type: string
            format: uuid
        - name: owner_user_id
          in: query
          description: 'Exact match. Malformed → 400 `"Invalid owner_user_id: must be a UUID"`.'
          schema:
            type: string
            format: uuid
        - name: external_reference
          in: query
          description: Exact match — look up a deal by your idempotency reference.
          schema:
            type: string
        - name: search
          in: query
          description: Case-insensitive match over deal title + contact name/phone/email.
          schema:
            type: string
        - $ref: "#/components/parameters/ClampedLimitParam"
        - $ref: "#/components/parameters/ClampedOffsetParam"
      responses:
        "200":
          description: Paginated deal list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Deal"
        "400":
          description: |
            A malformed UUID query parameter (`"Invalid pipeline_id: must be a UUID"`, …)
            or a malformed `limit`/`offset`
            (`"Invalid limit: must be a non-negative integer"`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: upsertDeal
      tags: [Deals]
      summary: Create a deal (idempotent upsert via `external_reference`)
      description: |
        Creates a deal — or, when `external_reference` matches an existing deal in the
        workspace, **updates it**:

        - Fields updated (only those present in the body): `product_id` (when a product
          reference resolves), `title` (still ignored while a product is attached),
          `amount`, `currency`, `owner_user_id`, `expected_close_at`, `note`.
        - `contact_id` is always re-applied from the freshly resolved contact — a repeat
          POST with different phone/email re-points the deal to that contact. Every repeat
          POST must still carry `contact_id` or `phone`/`email`.
        - `stage_id`, if present and different from the current stage, **moves** the deal
          (same ledger/automation effects as `POST /v1/deals/{id}/stage`).
        - `status` is never touched on a match; `pipeline_id` is ignored on a match.

        Contact resolution is shared with the contacts upsert: `contact_id` wins; otherwise
        `phone`/`email` are upserted (phone match wins, email fallback). While a product is
        attached, the deal's `title` derives from the product name and any client-sent
        title is ignored; a missing `amount` defaults to the product's price.

        The response is **201 in both cases** and carries a top-level boolean `duplicate`
        field — `false` when this request created the deal, `true` when the
        `external_reference` matched an existing deal.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealCreate"
      responses:
        "201":
          description: |
            The deal (created — `duplicate: false` — or updated — `duplicate: true`) +
            joined contact identity fields.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealUpsertResult"
        "400":
          description: |
            Coded errors (as `error_code`): `MISSING_TITLE`, `STAGE_PIPELINE_MISMATCH`,
            `NO_PIPELINE`, `PIPELINE_HAS_NO_STAGES`, `INVALID_DEAL_OWNER`,
            `INVALID_PRODUCT`, `PRODUCT_INACTIVE` — or a missing contact reference
            (`"Provide contact_id, or a phone/email…"`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            Plan-wide API access, `error_code: FEATURE_NOT_INCLUDED_IN_PLAN` — the plan
            lacks the Deals feature (body without a `statusCode` field) — or
            `error_code: PLAN_LIMIT_EXCEEDED` — deal cap reached (only when a cap is set
            on the workspace).
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/FrameworkError"
                  - $ref: "#/components/schemas/FeatureGateError"
        "404":
          description: '`"Contact not found"` / `"Pipeline not found"` / `"Stage not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          $ref: "#/components/responses/ContactMergeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/deals/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getDeal
      tags: [Deals]
      summary: Get one deal
      responses:
        "200":
          description: The deal + `contact_name`/`contact_phone`/`contact_email`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updateDeal
      tags: [Deals]
      summary: Update deal fields
      description: |
        Field updates do **not** write stage-history entries and do **not** fire deal
        automations — only the `/stage` and `/status` routes do.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealPatch"
      responses:
        "200":
          description: The updated deal + joined contact fields.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        "400":
          description: "`INVALID_PRODUCT` / `PRODUCT_INACTIVE` / `INVALID_DEAL_OWNER` / validation."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Deal not found"` / `"Contact not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/deals/{id}/stage:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: moveDealStage
      tags: [Deals]
      summary: Move a deal to a stage
      description: |
        Move a deal to any stage in the workspace — cross-pipeline moves are supported; the
        deal's `pipeline_id` follows the target stage. A move to the deal's **current**
        stage is a pure reorder (no history entry, no automations). A genuine stage change
        stamps `stage_entered_at`, records a stage-transition history entry and activity
        row, and fires deal-stage-changed automations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [stage_id]
              properties:
                stage_id:
                  type: string
                  format: uuid
                  description: Target stage.
                index:
                  type: integer
                  minimum: 0
                  maximum: 100000
                  description: Position within the stage column, 0 = top. Omitted → top.
      responses:
        "201":
          description: The updated deal row (no joined contact fields on this route).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Deal not found"` / `"Stage not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/deals/{id}/status:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: setDealStatus
      tags: [Deals]
      summary: "Set status: open / won / lost"
      description: |
        Closing (`won`/`lost`) stamps `closed_at` and keeps the deal on its last stage.
        Reopening (`open`) clears `closed_at` and `lost_reason`. `won`/`lost` fire the
        corresponding deal automations (reopen fires none). If the deal already has the
        requested status, the current row is returned unchanged (no history entry, no
        automations).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [status]
              properties:
                status:
                  type: string
                  enum: [open, won, lost]
                  description: "`open` reopens a closed deal."
                lost_reason:
                  type: string
                  maxLength: 1000
                  description: Stored only when status is `lost`; cleared otherwise.
      responses:
        "201":
          description: The updated deal row (no joined contact fields).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Payments ─────────────────────────────
  /v1/payments:
    get:
      operationId: listPayments
      tags: [Payments]
      summary: List payments
      description: |
        Uses dedicated query parameters and its own pagination defaults (`limit` default 25,
        cap 100). Absent or empty `limit`/`offset` values default; malformed values return
        400 (`"Invalid limit: must be a non-negative integer"`). Unrecognized enum values
        are still silently ignored. Ordered by `purchase_date` descending. Rows include
        joined `contact_name`/`contact_phone`/`contact_email`. **List rows do not include
        entries.**
      parameters:
        - name: type
          in: query
          description: Other values are silently ignored.
          schema:
            type: string
            enum: [one_time, recurring, installments]
        - name: status
          in: query
          description: "Arrangement status: other values silently ignored."
          schema:
            type: string
            enum: [active, completed, cancelled]
        - name: search
          in: query
          description: Case-insensitive match over payment title + contact name/phone/email.
          schema:
            type: string
        - $ref: "#/components/parameters/ClampedLimitParam"
        - $ref: "#/components/parameters/ClampedOffsetParam"
      responses:
        "200":
          description: Paginated payment list (headers only, no entries).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Payment"
        "400":
          description: |
            A malformed `limit`/`offset`
            (`"Invalid limit: must be a non-negative integer"`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: upsertPayment
      tags: [Payments]
      summary: Create a payment (idempotent upsert via `external_reference`)
      description: |
        Creates a payment — or, when `external_reference` matches an existing payment,
        **updates it**. Only mutable fields are applied on a match:

        - Always (when present): `product_id`, `title` (subject to the product title lock),
          `note`, `method`.
        - Only when the existing payment is `one_time`: `amount`, `status`.
        - Only when it is `recurring`: `auto_generate`, `recurring_end_at`,
          `recurring_max_occurrences`.
        - Never restructured on a match: `type`, `interval`, `installment_count`,
          `purchase_date` — and, unlike deals, **the contact is NOT re-pointed** on a match.

        Entry creation per type: **one_time** — one entry with the given `status`
        (the header's `arrangement_status` mirrors it); **recurring** — the first cycle is
        recorded now when `record_first_payment` is true (default), further cycles record
        automatically when `auto_generate` is on; **installments** — `installment_count`
        monthly entries starting at `purchase_date`, recognized as revenue immediately.

        Contact resolution is identical to deals (409 `CONTACT_MERGE_REQUIRED` on identity
        conflict). Unlike deals, `amount` is always required — the product price does not
        substitute for it. The response is **201 in both cases** and carries a top-level
        boolean `duplicate` field — `false` when this request created the payment, `true`
        when the `external_reference` matched an existing payment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentCreate"
      responses:
        "201":
          description: |
            The payment (created — `duplicate: false` — or updated — `duplicate: true`)
            with its entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentUpsertResult"
        "400":
          description: |
            Bad type/amount, installment/schedule validation, `INVALID_PRODUCT` /
            `PRODUCT_INACTIVE`, or a missing contact reference.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Contact not found"` — `contact_id` not in this workspace.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          $ref: "#/components/responses/ContactMergeRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/payments/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getPayment
      tags: [Payments]
      summary: Get a payment with its entries
      responses:
        "200":
          description: "`{ ...header, entries: [...] }` with entries ordered by `sequence`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: updatePayment
      tags: [Payments]
      summary: Update a payment
      description: |
        A one-time `amount`/`status` change flows into the payment's single entry and
        re-maps the header's `arrangement_status`. Shortening a recurring plan's end
        conditions may auto-complete it; extending them never silently reactivates a
        completed plan. A one-time status change fires the matching automation after the
        update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentPatch"
      responses:
        "200":
          description: The payment with entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          description: |
            `"This charge already has refunds; reverse those instead of marking it
            refunded/failed"` — use `/refund` — or recurring end-condition validation errors.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/payments/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: cancelPayment
      tags: [Payments]
      summary: Cancel a recurring plan
      description: |
        Cancels a **recurring** plan. No request body. Already-recorded entries are
        untouched.
      responses:
        "201":
          description: |
            The payment with `arrangement_status: "cancelled"`, `recurring_cancelled_at`
            set, auto-generation off, and no next due date.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          description: '`"Only recurring payments can be cancelled"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/payments/{id}/entries/{entryId}/mark:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
      - name: entryId
        in: path
        required: true
        description: The entry to mark; must belong to the payment in the URL.
        schema:
          type: string
          format: uuid
    post:
      operationId: markPaymentEntry
      tags: [Payments]
      summary: Set one entry's status
      description: |
        Marking `completed` stamps `paid_at` and recognizes the revenue. A one-time header
        mirrors its entry's status; recurring/installment headers are **not** changed by
        marking one cycle. Status-change automations fire as on PATCH (payment-recorded only
        for a newly recognized completion).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, completed, failed, refunded]
      responses:
        "201":
          description: The full parent payment with entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          description: |
            `"Refund entries cannot be marked directly"` or `"This charge already has
            refunds; reverse those instead of marking it refunded/failed"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: |
            `"Payment entry not found"` (unknown, foreign, or not an entry of this payment)
            or `"Payment not found"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/payments/{id}/refund:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: refundPayment
      tags: [Payments]
      summary: Record a refund against a charge
      description: |
        Records a refund entry against a completed charge. Multiple partial refunds against
        one charge are supported, up to its recognized value; refunds are race-safe —
        concurrent refund requests cannot over-refund a charge. A fully refunded
        **one-time** payment's header becomes `arrangement_status: "cancelled"`; partial
        refunds and multi-entry deals keep their status. Fires the payment-refunded
        automation with the refunded amount.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                entry_id:
                  type: string
                  format: uuid
                  description: |
                    The charge entry to refund. May be omitted only when the payment has
                    exactly one charge.
                amount:
                  type: number
                  exclusiveMinimum: 0
                  maximum: 9999999999
                  description: Partial refund amount. Omitted → the full remaining refundable balance.
                note:
                  type: string
                  maxLength: 1000
                  description: Stored on the refund entry.
      responses:
        "201":
          description: |
            The payment with a new entry: `kind: "refund"`, negative
            `amount`/`recognized_amount`, `status: "refunded"`, `refunds_entry_id` pointing
            at the charge.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWithEntries"
        "400":
          description: |
            Refund validation: `"entryId is required to refund a payment with multiple
            charges"`, `"Only a completed (recognized) charge can be refunded"`, `"This
            charge is not recognized as revenue yet and cannot be refunded"`, `"Refund
            amount must be a positive number"`, `"This charge is no longer refundable"` /
            `"This charge is already fully refunded"`, or `"Refund amount exceeds the
            refundable balance (<max>)"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Payment not found"` / `"Payment entry not found"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Emails ─────────────────────────────
  /v1/emails:
    post:
      operationId: sendEmail
      tags: [Emails]
      summary: Send a transactional email (idempotent)
      description: |
        Sends a single transactional email through your workspace's verified sending
        domain. **Raw-content endpoint**: your HTML/text is delivered verbatim — no
        marketing footer, no unsubscribe link, and no tracking is injected unless you opt
        in. Requires at least one verified sending domain with a sender profile configured
        in the app.

        Rate limit: **300 requests / minute per key** (higher than the API default).
        Errors on this endpoint use the structured envelope `{"error": {"code","message"}}`.

        **Idempotency:** the `idempotency_key` is claimed before any quota/deliverability
        gate, so two concurrent requests with the same key can't both send. Replaying a
        resolved key returns **200** with `duplicate: true`. Validation failures and most
        pre-send errors release the key. At-least-once corner case: in a rare
        crash-and-retry overlap right after a successful provider handoff, the message can
        be delivered twice while your retry receives `200 duplicate: true` — design
        receivers so a duplicate email is acceptable.

        **Suppressed recipients are a 2xx, not an error** — check `status` in the body; do
        not treat 2xx alone as "delivered to the provider". The suppression reason is
        deliberately coarse.

        **Tracking (opt-in):** `opens` appends a 1×1 pixel to the HTML part; `clicks` wraps
        absolute http(s) links in the HTML part in a first-party redirect that forwards to
        your URL verbatim (`mailto:`, in-page anchors, relative URLs, and extremely long
        URLs are never wrapped). The plain-text part is never modified. If the deployment
        lacks a usable signing secret for tracking links, the message is sent untracked
        rather than failing. Open/click events arrive via the opt-in
        `email.opened`/`email.clicked` webhooks (first open / first click per send only).

        Consent is your responsibility: this endpoint neither checks marketing consent nor
        creates oToK contact records for recipients. The suppression list is still enforced
        (fail-closed).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailSendRequest"
      responses:
        "201":
          description: This request performed the send (fresh idempotency key).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailSendResult"
        "200":
          description: "Idempotent replay of an already-processed key (`duplicate: true`)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailSendResult"
        "400":
          description: |
            Request-shape violations (standard validation body), or `validation_failed`
            (structured envelope): both `html` and `text` missing; disallowed or invalid
            custom header; `metadata` over 2048 bytes.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FrameworkError"
                  - $ref: "#/components/schemas/DomainError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: "`quota_exceeded` — monthly email quota exhausted; resets at the next billing period or after an upgrade."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: "`sender_profile_not_found` — `sender_profile_id` not found in this workspace."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "409":
          description: |
            `send_in_progress` — same idempotency key currently processing; retry shortly
            (a claim stuck by a crash is automatically recoverable after ~3 minutes).
            Or `no_verified_sender` — no sender profile with a verified domain.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "422":
          description: "`invalid_recipient` — `to` is not a valid email address; permanent, do not retry unchanged."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "429":
          description: |
            `warming_cap_exceeded` (structured envelope) — domain-warming daily cap
            reached, transient, retry after the daily reset — or the standard rate-limit
            body (300/min per key); honor `Retry-After`.
          headers:
            Retry-After:
              description: Seconds to wait before retrying (rate-limit case).
              schema:
                type: string
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/DomainError"
                  - $ref: "#/components/schemas/FrameworkError"
        "502":
          description: |
            `provider_error` — the email provider rejected the send; the message includes
            only a coarse signal. The idempotency key is released — safe to retry with the
            same key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "503":
          description: "`workspace_paused` — workspace email sending is paused by deliverability protection; resolve in the app."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"

  # ───────────────────────────── Webhook endpoints ─────────────────────────────
  /v1/webhook-endpoints:
    get:
      operationId: listWebhookEndpoints
      tags: [Webhook endpoints]
      summary: List endpoints
      description: No parameters (max 3 rows, unpaginated). Secrets are never included.
      responses:
        "200":
          description: The workspace's registered endpoints.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookEndpoint"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createWebhookEndpoint
      tags: [Webhook endpoints]
      summary: Register an endpoint (secret returned once)
      description: |
        Maximum **3 endpoints per workspace** (409 `endpoint_limit_reached`); the cap is
        enforced safely under concurrency.

        > **The `secret` is returned only here, once.** It cannot be retrieved again.
        > There is no rotation endpoint: to rotate, register a new endpoint with the same
        > URL, switch verification to the new secret, then delete the old endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [url]
              properties:
                url:
                  type: string
                  minLength: 1
                  maxLength: 2048
                  description: |
                    `http://` or `https://` only. URLs pointing at private, loopback,
                    link-local, and other reserved IP ranges are rejected
                    (400 `unsafe_url`) — re-checked on every delivery attempt. Prefer
                    `https://`: plain `http://` is accepted but the HMAC signature is then
                    your only integrity protection.
                events:
                  type: array
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/EmailEventType"
                  description: |
                    Event types to receive. Must be non-empty when present. **Omitted →
                    the three delivery events** (`email.delivered`, `email.bounced`,
                    `email.complained`) — the engagement events
                    `email.opened`/`email.clicked` are received only when explicitly
                    listed. `email.failed` is **deprecated**: still accepted when listed
                    explicitly (the registration succeeds and echoes it in `events`), but
                    it is never delivered.
      responses:
        "201":
          description: The created endpoint, including the one-time `secret`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEndpointWithSecret"
        "400":
          description: "`unsafe_url` — non-http(s) scheme or a reserved/private address."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: "`endpoint_limit_reached` — already at 3 endpoints; delete one first."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/webhook-endpoints/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: |
          Endpoint id. Unlike other routes, a malformed (non-UUID) id returns **404**, not
          400 — deliberately indistinguishable from an unknown id.
        schema:
          type: string
    delete:
      operationId: deleteWebhookEndpoint
      tags: [Webhook endpoints]
      summary: Delete an endpoint
      description: |
        Deliveries stop immediately; anything still queued for the deleted endpoint is
        dropped.
      responses:
        "204":
          description: Deleted — no body.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: |
            `endpoint_not_found` — unknown id, another workspace's id, or a malformed
            (non-UUID) id — deliberately indistinguishable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ───────────────────────────── Meeting types & bookings ─────────────────────────────
  /v1/meeting-types:
    get:
      operationId: listMeetingTypes
      tags: [Meeting types]
      summary: List meeting types
      description: Standard list conventions apply.
      parameters:
        - $ref: "#/components/parameters/FilterParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Paginated meeting type list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/MeetingType"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/meeting-types/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getMeetingType
      tags: [Meeting types]
      summary: Get one meeting type
      responses:
        "200":
          description: A meeting type object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeetingType"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/meeting-types/{id}/slots:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getMeetingTypeSlots
      tags: [Meeting types]
      summary: Get open slots for a date range
      description: |
        Returns the open start instants for the meeting type — the same availability the
        public booking page offers. Slot instants are UTC ISO timestamps; `timezone` is the
        host schedule's IANA zone.
      parameters:
        - name: from
          in: query
          required: true
          description: Range start (inclusive), ISO 8601.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          description: Range end (exclusive); must be after `from`; range may not exceed 62 days.
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Open slots in the range.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlotsResult"
        "400":
          description: |
            `"Meeting type is not active"`, `"from/to must be valid ISO dates"`,
            `` "`to` must be after `from`" ``, or
            `"Requested range may not exceed 62 days"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/bookings:
    get:
      operationId: listBookings
      tags: [Bookings]
      summary: List bookings
      description: All filters optional and combined with AND. Malformed values → 400.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [confirmed, cancelled, completed, no_show]
        - name: meeting_type_id
          in: query
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          description: "`start_at >= from` (ISO 8601)."
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: "`start_at <= to` (ISO 8601)."
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: "Default `-start_at`; `-` prefix for descending."
          schema:
            type: string
            default: "-start_at"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
      responses:
        "200":
          description: Paginated booking list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Booking"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createBooking
      tags: [Bookings]
      summary: Create a booking
      description: |
        Books a slot. The slot must be open at booking time; slot-taking is race-safe. The
        usual booking side effects run (confirmation email, calendar/Zoom setup where
        configured).

        **Idempotency is server-derived** — you do not send a key. A double submit of the
        same slot + meeting type + contact (+ pinned host, when used) returns the existing
        confirmed booking as a success instead of failing or double-booking — still 201,
        with `duplicate: true` (a fresh create answers `duplicate: false`). For round-robin
        types, a pinned create can never silently replay onto a different host than the
        one pinned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingCreate"
      responses:
        "201":
          description: |
            The booking object with its `hosts` roster, plus the top-level `duplicate`
            marker (`false` on a fresh create, `true` on a replay).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingCreateResult"
        "400":
          description: |
            `"Either contact_id or an invitee object is required"`, `"Meeting type is not
            active"`, `"start_at must be a valid ISO date"`, `"timezone must be a valid
            IANA time zone id"`, or bad `host_user_id`
            (`"Host pinning is only supported on round-robin meeting types"` / `"The
            pinned host is not an active member of this meeting type's pool"`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"No availability schedule configured for this meeting type"` — meeting type misconfigured.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          description: |
            `error_code: "SLOT_TAKEN"` — the selected time is no longer available (taken
            concurrently, host pool exhausted, pinned host busy); **never forceable** —
            re-fetch slots and pick another time. Or `error_code: "CONTACT_MERGE_REQUIRED"`
            — the invitee's phone and email resolve to two different existing contacts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/bookings/{id}:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    get:
      operationId: getBooking
      tags: [Bookings]
      summary: Get one booking
      responses:
        "200":
          description: A booking object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Booking"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/bookings/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: cancelBooking
      tags: [Bookings]
      summary: Cancel a booking
      description: API cancellations are attributed to the host side.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                reason:
                  type: string
                  maxLength: 1000
      responses:
        "201":
          description: |
            The booking with `status: "cancelled"` and
            `cancelled_at`/`cancelled_by`/`cancellation_reason` set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Booking"
        "400":
          description: '`"Only confirmed bookings can be cancelled"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/bookings/{id}/reschedule:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: rescheduleBooking
      tags: [Bookings]
      summary: Move a booking to a new slot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [start_at]
              properties:
                start_at:
                  type: string
                  format: date-time
                  description: ISO 8601 — a new open slot.
                timezone:
                  type: string
                  maxLength: 64
                  description: Updates the invitee timezone; omitted keeps the existing one.
      responses:
        "201":
          description: |
            The booking with `previous_start_at`, `rescheduled_at`, and an incremented
            `reschedule_count`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Booking"
        "400":
          description: |
            `"Only confirmed bookings can be rescheduled"`, `"start_at must be a valid ISO
            date"`, or `"The meeting type for this booking no longer exists"`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Booking not found"` / `"No availability schedule configured for this meeting type"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          description: '`error_code: "SLOT_TAKEN"` — the target slot is no longer open.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /v1/bookings/{id}/reassign:
    parameters:
      - $ref: "#/components/parameters/UuidPathId"
    post:
      operationId: reassignBooking
      tags: [Bookings]
      summary: Change the assigned host
      description: |
        Change which host owns a confirmed booking. Reassignment is **pre-start only** and
        not available for collective meeting types (where every pool host attends).

        409 handling: `HOST_UNAVAILABLE` is overridable by repeating the request with
        `"force": true`; `SLOT_TAKEN` (a genuine conflicting booking) is **never
        overridable**, even with `force`; `BOOKING_MODIFIED` means the booking changed
        concurrently — re-read and retry.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                user_id:
                  type: string
                  format: uuid
                  description: |
                    Any **active** workspace member. Omitted → automatic round-robin
                    re-pick excluding the current host (round-robin types only).
                reason:
                  type: string
                  maxLength: 1000
                  description: Recorded on the assignment history.
                force:
                  type: boolean
                  const: true
                  description: Override host-availability failures. Must be literally `true`.
      responses:
        "201":
          description: The booking with its new `hosts` roster.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Booking"
        "400":
          description: |
            State guards (`"Only confirmed bookings can be reassigned"`, `"This booking
            has already started"`), collective type, no-op target, omitted `user_id` on a
            non-round-robin type, or a target host that is not an active workspace member.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FeatureNotIncluded"
        "404":
          description: '`"Booking not found"` / `"The meeting type for this booking no longer exists"`.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameworkError"
        "409":
          description: |
            `error_code: "HOST_UNAVAILABLE"` (soft availability failure — overridable with
            `force: true`), `"SLOT_TAKEN"` (genuine conflicting booking — never
            overridable), or `"BOOKING_MODIFIED"` (concurrent change — re-read and retry).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"

# ───────────────────────────── Webhooks (outbound events) ─────────────────────────────
webhooks:
  email.delivered:
    post:
      operationId: emailDeliveredEvent
      tags: [Webhook endpoints]
      summary: email.delivered — the provider confirmed delivery of an API send
      description: Default-subscription delivery event.
      parameters:
        - $ref: "#/components/parameters/WebhookEventHeader"
        - $ref: "#/components/parameters/WebhookEventIdHeader"
        - $ref: "#/components/parameters/WebhookSignatureHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailDeliveredEvent"
      responses:
        "200":
          description: |
            Return any 2xx within 10 seconds to settle the delivery. Non-2xx (including
            3xx — redirects are not followed) counts as a failure and is retried.
  email.bounced:
    post:
      operationId: emailBouncedEvent
      tags: [Webhook endpoints]
      summary: email.bounced — the send bounced
      description: |
        Default-subscription delivery event. `data.bounce_type` is included when known:
        `hard`, `soft`, or `block`.
      parameters:
        - $ref: "#/components/parameters/WebhookEventHeader"
        - $ref: "#/components/parameters/WebhookEventIdHeader"
        - $ref: "#/components/parameters/WebhookSignatureHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailBouncedEvent"
            examples:
              hardBounce:
                value:
                  id: b2c3d4e5-f607-1829-3a4b-5c6d7e8f9012
                  type: email.bounced
                  created_at: "2026-07-14T10:05:32.000Z"
                  data:
                    send_id: f0e1d2c3-b4a5-9687-7869-5a4b3c2d1e0f
                    idempotency_key: order-88123-receipt
                    to: customer@example.com
                    reason: 550 5.1.1 user unknown
                    bounce_type: hard
                    metadata:
                      order_id: "88123"
      responses:
        "200":
          description: Return any 2xx within 10 seconds to settle the delivery.
  email.complained:
    post:
      operationId: emailComplainedEvent
      tags: [Webhook endpoints]
      summary: email.complained — the recipient marked the message as spam (feedback loop)
      description: Default-subscription delivery event.
      parameters:
        - $ref: "#/components/parameters/WebhookEventHeader"
        - $ref: "#/components/parameters/WebhookEventIdHeader"
        - $ref: "#/components/parameters/WebhookSignatureHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailComplainedEvent"
      responses:
        "200":
          description: Return any 2xx within 10 seconds to settle the delivery.
  email.failed:
    post:
      operationId: emailFailedEvent
      tags: [Webhook endpoints]
      summary: email.failed — deprecated (never delivered)
      deprecated: true
      description: |
        **Deprecated — never delivered; nothing produces this event.** It is no longer
        part of the default subscription set. Listing it explicitly at registration still
        succeeds (no error, no warning; it is echoed in `events`) so existing integrations
        keep working, but no delivery will ever arrive. A failing `POST /v1/emails` send
        fails synchronously on the request itself (e.g. `502 provider_error`,
        `409 send_in_progress`) — handle send failures from the send response.
      parameters:
        - $ref: "#/components/parameters/WebhookEventHeader"
        - $ref: "#/components/parameters/WebhookEventIdHeader"
        - $ref: "#/components/parameters/WebhookSignatureHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailFailedEvent"
      responses:
        "200":
          description: Return any 2xx within 10 seconds to settle the delivery.
  email.opened:
    post:
      operationId: emailOpenedEvent
      tags: [Webhook endpoints]
      summary: email.opened — first open only (opt-in)
      description: |
        Opt-in engagement event: at most one per send, for sends with `tracking.opens`.
        `data.machine_open` is always present — `true` means the open was attributed to an
        automated mail scanner / prefetcher (e.g. Apple Mail privacy) rather than a human.
        Machine opens are forwarded flagged, never dropped.

[...]
